@import url(reset.css);

body {
    background: #e8e8e8 url('../img/lines.png') 50% no-repeat;
}

.content {
    padding: 168px 0 137px 0;
    max-width: 841px;
    margin: 0 auto;
}

.content-header {
    text-align: center;
    margin-bottom: 77px;
}

.content-header__title {
    opacity: 0.6;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #273d46;
    margin-bottom: 28px;
}

.content-header__maintext {
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    color: #273d46;
}

.content-img {
    background-color: #fff;
    box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);
    padding: 10px;
    margin-bottom: 92px;
}

.content-bottom {
    padding: 0 45px 0 45px;
}

.content-bottom__text {
    opacity: 0.8;
    font-size: 24px;
    line-height: 40px;
    color: #273d46;
}
.content-bottom__text p {
    margin-bottom: 40px;
}

.content-bottom__list li {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 36px;
    background: url('../img/vote.png') left no-repeat;
    padding: 0 0 0 35px;
}

.content-bottom__list li:nth-child(1) {
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #273d46;
}
.content-bottom__list li:nth-child(2) {
    font-style: italic;
    color: #80b7b3;
}
.content-bottom__list li:nth-child(3) {
    font-weight: 700;
    color: #273d46;
}
.content-bottom__list li:nth-child(4) {
    text-decoration: line-through;
    color: #273d46;
}
.content-bottom__list li:nth-child(4) span {
    opacity: 0.3;
}
.content-bottom__list li:last-child {
    margin-bottom: 40px;
}

.content-bottom__button {
    display: inline-block;
    background-color: #80b7b3;
    padding: 0 30px;
    line-height: 44px;
    height: 44px; 
    border-radius: 20px;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
    font-family: Arial;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
}
.content-bottom__button span{
    padding: 0 30px 0 0;
    background: url('../img/arrow.png') right no-repeat;
}